.ant-layout-container {
  min-height: 100vh;
}

.landingpage-container {
  margin-left: 50px;
  text-align: center;
  i {
    font-size: 10px;
    margin: 10px 0;
    color: #282a2c;
  }
  .ant-card:hover {
    transform: translateY(-5px);
    color: white;
    transition: all 0.5s;
    background: #e6f7ff;
    color: #282a2c;
    border: 1px solid #282a2c;
    i {
      color: #001529;
    }
  }
}
